<div>
  <div class="spinner"></div>
  <p class="spinner-text-output"></p>
  <audio class="spinner-audio-tick" preload="auto">
    <source src="assets/audio/tick-spinner.mp3" type="audio/mpeg"></source>
    <source src="assets/audio/tick-spinner.ogg" type="audio/ogg"></source>
  </audio>
  <audio class="spinner-audio-ding" preload="auto">
    <source src="assets/audio/elevator-ding.mp3" type="audio/mpeg"></source>
    <source src="assets/audio/elevator-ding.ogg" type="audio/ogg"></source>
  </audio>
  <audio class="spinner-audio-bazinga" preload="auto">
    <source src="assets/audio/bazinga.mp3" type="audio/mpeg"></source>
    <source src="assets/audio/bazinga.ogg" type="audio/ogg"></source>
  </audio>
</div>
